body {
    font-family: arial, sans-serif;
}

.table {
    width: 100%;
    table-layout:fixed;
}
  
.table-cell {
    text-align: left;
    padding: 8px;
}
  
.table-row:nth-child(even) {
    background-color: #dddddd;
}
  
.table-cell { 
    white-space: pre-wrap 
}